body{
    margin:0;
    padding:0;
    font-family: cursive;
}

.logoarea{
    background: #D9D7D7;
    padding: 4px;
    padding-top: 6px;
    padding-left: 10px;
    height: 50px;
}

.logoarea span{
    color: #FC0312;
}

.sidebar{
    background: #0C3A47;
    margin-top: 0px;
    padding-top: auto;
    position: fixed;
    left: 0px;
    width: 350px;
    height: 100%
}

.sidebar .dp{
    width: 165px;
    height: 165px;
    border-radius: 100px;
    margin-bottom: -15px;
    border: 2px solid white;
}

.sidebar a{
    color: white;
    display: inline-block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
}

.name_tag{
    background: black;
    color: red;
    font-weight: bold;
    border: 2px solid white;
    padding: 1px 30px;
    font-size: 16px;
    font-family: "montserrat";
    cursor: pointer;
    border-radius: 30px;
}

.sidebar a:hover{
    color: red;
    text-decoration: none;
    font-size: 20px
}

.name_tag:hover{
    border: 2px solid white;
    color: red;
    background: black;
}

.username_tag{
    background-color: red;
    margin-left: 350px;
    border: 2px solid;
    border-color: white white white red;
    border-radius: 0px 30px 30px 0px;
    width: 259px;
    margin-top: -43px;
}

.username_tag i{
    padding: 3px 5px;
    font-weight: bold;
    color: white;
}

.content_area{
    background: black;
    margin-top: 0x;
    padding-top: auto;
    position: fixed;
    right: 0px;
    width: 1186px;
    height: 100%
}
