body{
    margin:0;
    padding:0;
}

.logoarea{
    background:#D9D7D7;
    font-size: 30px;
    height: 80px;
    padding-left:20px;
    margin-top: -30px;
    display: flex;
}

.logoarea span{
    color: #FC0312;
}

.sidebar{
    background: #0C3A47;
    margin-top: 0px;
    padding-top: auto;
    position: fixed;
    left: 0px;
    width: 350px;
    height: 100%
}

.sidebar .dp{
    width: 165px;
    height: 165px;
    border-radius: 100px;
    margin-bottom: -15px;
    border: 2px solid white;
}

.sidebar a{
    color: white;
    display: inline-block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
}

.name_tag{
    background: black;
    color: red;
    font-weight: bold;
    border: 2px solid white;
    padding: 1px 30px;
    font-size: 16px;
    font-family: "montserrat";
    cursor: pointer;
    border-radius: 30px;
}

.sidebar a:hover{
    color: red;
    text-decoration: none;
    font-size: 25px;
}

.name_tag:hover{
    border: 2px solid white;
    color: red;
    background: black;
}

.username_tag{
    background-color: red;
    margin-left: 350px;
    border: 2px solid;
    border-color: white white white red;
    border-radius: 0px 30px 30px 0px;
    width: 259px;
    margin-top: -35px;
}

.username_tag i{
    padding: 3px 5px;
    font-weight: bold;
    color: white;
    font-family: cursive;
}

.content_area{
    background: black;
    margin-top: 0x;
    padding-top: auto;
    position: fixed;
    right: 0px;
    width: 1186px;
    height: 100%;
}

.sample{
    color: white;
    text-align: center;
    font-family: cursive;
}

.action{
    position: fixed;
    left:400px;
    color: black;
    background-color: black;
    width: 500px;
    height: 500px;
}

.action .sign_up{
    color: white;
    background-color: red;
    border-radius:10px;
    text-align: center;
    font-size: 16px;
}

.action .sign_up_info{
    background: white;
    position: absolute;
    top:80px;
    padding: 10px 20px;
    visibility: hidden;
    opacity: 0;
}

.action .sign_up_info.active{
    top: 80px;
    visibility: visible;
    opacity: 1;
}

.action .sign_up_info::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 50%;
    width: 20px;
    height: 20px;
    background: white;
    transform: rotate(45deg);
}

.sign_up_info input{
    width: 400px;
    height: 100%;
    border: 3px solid #aaaaaa;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    transition: .3s;
}

.sign_up_info input:focus{
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.action .sign_up_info ul li{
    list-style-type: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
}